<%- include("./partials/header") %> 

<h1 class="login-form">Login!</h1>

<form action="/login" method="POST" class="login-form">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<%- include("./partials/footer") %>
