.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.navbar-brand img {
border-radius: 50%;
height: 100px;
}

.login-form{
    text-align: center;
}
