.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    display: inline;
}

.brand-logo {
border-radius: 50%;
height: 50px;
margin: 5px 0;
}

.login-form{
    text-align: center;
}
